.topics-list {row-gap: 16px;}
.topic-wrapper { min-height: 100%; border: 1px solid #E0E8FD; box-shadow: 1px 1px 2px #E0E8FD; border-radius: 10px; background: #fefefe; overflow: hidden;}
.topic-thumbnail {width: 100%;}
.topic-content-wrapper {flex-grow: 1;}