/* VARIABLES */
:root {
    --primary-color: #4440e8;
    --secondary-color: #000;
    --tertiary-color: #4FAE55;
    --quarternary-color: #657e79;
    --text-color: #000;
}

/* RESET CSS */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
  font-size: 15px;
}

/* 6. Improve media defaults */
picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

img { max-width: 100%; }

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* separator */
.hr-separator {background: #1e2125; width: 100%; height: 3px; margin: 12px 0;}

.text-secondary {color: var(--secondary-color)!important;}
.bg-secondary {background: var(--secondary-color)!important;}

/* Typography */
h1,h2,h3,h4,h5,h6 {font-weight: 700; margin-bottom: 12px; line-height: normal; font-family: "Montserrat", sans-serif;}

h1 {font-size: 24px;}
h2 {font-size: 20px;}
h3 {font-size: 18px;}
h4 {font-size: 16px;}
h5,h6 {font-size: 15px;}

p {margin-bottom: 12px;}

/* Buttons */
.button {display: inline-flex; text-align: center; align-items: center; justify-content: center; min-height: 50px; font-weight: 600; font-size: 16px; border-radius: 6px;}

.button-primary {background: var(--primary-color); color: #fff;}
.button-primary:hover {background: #2b8169; color: #fff; text-decoration: none;}

.button-secondary {background: var(--secondary-color); color: #fff;}
.button-secondary:hover {background: #43534f; color: #fff; text-decoration: none;}

.button-quarternary {background: var(--quarternary-color); color: #fff;}
.button-quarternary:hover {background:#4d6560; color: #fff; text-decoration: none;}

.button-wide {width: 100%;}
.button-small {font-size: 14px!important; min-height: 40px!important;}

/* CUSTOM CSS */
html {height: 100%; scroll-behavior: smooth;}
body {min-height: 100%; display: flex; flex-direction: column; font-family:system-ui,-apple-system,Segoe UI,Roboto,"Helvetica Neue"; font-size: 16px;}
main {flex-grow: 1;}

header {background: #000; color: #fff; min-height: 60px;}

/* Main Menu */
.main-nav {display: none;}

.main-nav .main-menu a {color: #fff; text-decoration: none; padding: 4px 0;}
.main-nav .main-menu a:hover {color: var(--primary-color);}

@media screen and (min-width: 992px) {
    .main-nav {display: block;}
    .main-nav .main-menu {gap: 10px 15px;}
}

@media screen and (max-width: 991px) {
    /* Mobile Menu Side Panel */
    .main-nav {position: fixed; z-index: 9999; top: 0; right: -300px; display: block !important; height: 100%; max-width: 280px; width: 100%; background: #fff; padding-top: 50px; box-shadow: -1px 1px 4px #d2d2d2; transition: right .2s ease-in-out;}
    .main-nav.menu-opened {right: 0;}

    .main-nav .main-menu li {width: 100%;}
    .main-nav .main-menu a {color: #000; width: 100%; display: block; text-align: left; padding: 4px 14px;}

    .main-menu .submenu-opened > .sub-menu {display: block; padding-left: 14px!important;} 
}

/* Submenu */
.has-child-menu {position: relative;}
.main-menu .sub-menu {display: none;}

.has-child-menu > a { position: relative; }


@media screen and (min-width: 992px) {
    .has-child-menu:hover .sub-menu {display: block; z-index: 2; box-shadow: 0 0 1px #000000;}
    .main-menu .sub-menu {border-radius: 6px; width: 200px; position: absolute; top: calc(100% + 3px); overflow: hidden; }
    .main-menu .sub-menu li:not(:first-child) {border-top: 1px solid #cbcbcb;}
    .main-menu .sub-menu a{background: #fff; color: var(--text-color); display: block; padding: 4px 10px;}
}

/* Menu Toggle */
#menu-toggle {appearance: none; border: none; outline: none; background: none; position: relative; width: 30px; height: 30px; cursor: pointer; top: 2.3px;}

#menu-toggle span:before,
#menu-toggle span:after {content: '';}

#menu-toggle span { top: calc(50% - 1px); }
#menu-toggle span,
#menu-toggle span:before,
#menu-toggle span:after {position: absolute; left: 0; display: block; height: 3px; width: 100%; background: #fff; border-radius: 10px;}

#menu-toggle span:before {top: -10px;}
#menu-toggle span:after {bottom: -10px;}

/* Menu Toggle Opened */
#menu-toggle.menu-opened { z-index: 99999; position: fixed; right: 15px; top: 17px;}
#menu-toggle.menu-opened span {background: none;}
#menu-toggle.menu-opened span:before{transform: rotate(45deg); top: 0;}
#menu-toggle.menu-opened span:after{transform: rotate(-45deg); top: 0;}

#menu-toggle.menu-opened span:before,
#menu-toggle.menu-opened span:after {transition: transform .1s ease-in-out; background: #000;}

/* Footer */
footer {background: #272726; color: rgba(255, 255, 255, .5);}
.footer-links {font-size: 14px;}
.footer-links li:not(:last-child) {margin-bottom: 8px;}
.footer-links a {color: inherit; text-decoration: underline;}
.footer-links a:hover {color: #fff;}
footer p {opacity: .8; font-size: 13px;}


/* Accordions */
.accordion .card {
  border: none;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  border-radius: 0!important;
  overflow: initial;
}

.accordion .card-header {
  padding: 0;
  background-color: #fff;
  border-radius: 0!important;
}

.accordion .btn {
  width: 100%;
  padding: 15px 20px;
  text-align: left;
  border: 1px solid #d9d9d9;
  color: var(--color-text);
  margin-bottom: -1px;
  border-radius: 0!important;
  text-decoration: none;
}

.accordion .btn h3 {font-size: 15px;}

.accordion .btn h3 span {
  font-size: 18px;
}
