/* REVIEWS - ARCHIVE PAGE */
.reviews-archive-list {row-gap: 30px;}
.reviews-archive-list-item {border-bottom: 1px solid #d5d5d5; border: 1px solid #000000; border-radius: 10px; height: 100%;}

.reviews-archive-list-item .special-offer-text {font-size: 12px; flex-grow: 1;}
.reviews-archive-list-item .review-thumbnail img {width: auto; max-width: 100%; height: 50px; object-fit: contain; object-position: center; }

.reviews-archive-list-item .review-thumbnail {width: 100%; max-width: 200px;  flex-shrink: 0; text-align: center;}

.reviews-archive-list-item .read-review-btn {display: flex; align-items: center; justify-content: center; gap: 8px; border: 1px solid var(--secondary-color); background-color: var(--secondary-color); color: #fff; border-radius: 6px; min-height: 40px; padding: 2px 10px; font-weight: 500; font-size: 16px;}
.reviews-archive-list-item .read-review-btn img {filter: brightness(0) invert(1);}

/* Special Offer Text */
.special-offer-text {border-radius: 6px; border-style: dashed; text-align: center; border-color: var(--tertiary-color); border-width: thin; color: var(--tertiary-color); font-weight: 600; font-size: 16px; min-height: 50px; display: flex; align-items: center; justify-content: center; text-transform: uppercase;}